.header {
    background-color: #F8F9FA;
    height: 55px;
    padding: 0 130px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header span {
    font-size: 18px;
    line-height: 55px;
}